{% extends "layout-base.html.twig" %}

{% block main %} 
			{# profile info #}
			<div class="first container-fluid">
			    <div class="row">
			        <div class="circle-cropping">
			            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
			                <img class="img-circle" src="/trippit_symfony/web/img/{{ user.picture }}" alt="Roberta Verdi">
			            </div>
			        </div>
			        <div class="col-xs-12 col-sm-8 col-md-4">
			            <div class="block">
			                <h2>{{ user.name }} {{ user.surname }}</h2>
			                <div class="separator"></div>
			                <p>{{ user.city }}</p>
			                <div class="separator"></div>
			                <h6>MOTTO</h6>
			                <p>{{ user.slogan }}</p>
			            </div>
			        </div>
			    </div>
			</div>

			{# add a trip #}
			<div class="container-fluid">
			    <div class="row">
			        <div class="col-xs-12 col-md-6 col-md-offset-3">
			            <div class="add-trip">
			                <!-- <form action="new-trip.php"> -->
			                <form action="{{ path('create/trip', { 'urlid': id }) }}">
			                    <h4>Dove vorresti andare?</h4><br>
			                    
			                    {# Google Place Autocomplete Form #}
			                    <div id="locationField">
			                    <input id="autocomplete" placeholder="Inserisci una meta" onFocus="geolocate()" type="text" name="destination"> </input>
			                    </div> 
			                    {# end Google Place Autocomplete Form #}
			                    
			                    <br><br>
			                    <h4>Quando vorresti partire?</h4><br>
			                    <select name="periods">
									<option value="Indifferente">Indifferente</option>
									{% for period in periodsList %}
										<option value="{{ period.description }}">{{ period.description }}</option>
									{% endfor %}			             
			                    </select>
			                    <br><br>
			                    <input type="submit" id="submit" name="submit" value="Crea viaggio" />
			                </form>
							
			            </div>
			        </div>
			    </div>
			</div>

			{# accordion for trips and comments #}
			<div class="container-fluid">
			    <div class="row">
			        <div class="col-xs-12 col-md-6 col-md-offset-3">
			        <section id="accordion">
			            <h6>I tuoi viaggi (5/5)</h6>
			            
						{% for trip in tripsList %}
						<div>
							<input type="checkbox" id="check-{{ loop.index }}" />
							<label for="check-{{ loop.index }}">
								<input type="checkbox" id="check-{{ loop.index }}" />
			                    <div class="col-xs-10 col-md-11">
									<h3>{{ trip.destination.name }}</h3>
								</div>
			                    <div class="col-xs-2 col-md-1">
									<a href="{{ path('user/askadvice', { 'urlid': id, 'destination': trip.destination.name, 'period': trip.period.description }) }}">
										<i class="material-icons">chat</i>
									</a>
								</div>				
									<p>{{ trip.period.description }}</p>								
			                </label>
							<article>
			                    <div class="spacer"></div>
			                    <a>Elimina viaggio</a>
								
								{% for advice in advicesList %}							
									<div class="separator"></div>
									<h6>{{ advice.author }}</h6>
									<p>{{ advice.description }}</p>
								{% endfor %}
								
			                    <div class="separator"></div>
			                    <a href="#">Carica tutti i commenti</a>								
			                </article>
						</div>
						{% endfor %}
						
					</section>
			        </div>
			    </div>
			</div>

{% endblock %}