{% extends "layout-base.html.twig" %}

{% block main %} 
			{# profile info #}
			<div class="first container-fluid">
			    <div class="row">
			        <div class="circle-cropping">
			            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
			                <img class="img-circle" src="/trippit_symfony/web/img/trippit-profile-pic.jpg" alt="Roberta Verdi">
			            </div>
			        </div>
			        <div class="col-xs-12 col-sm-8 col-md-4">
			            <div class="block">
			                <h2>Roberta Verdi</h2>
			                <div class="separator"></div>
			                <p>Milano</p>
			                <div class="separator"></div>
			                <h6>MOTTO</h6>
			                <p>Travel is the only thing you buy that makes you richer.</p>
			            </div>
			        </div>
			    </div>
			</div>

			{# add a trip #}
			<div class="container-fluid">
			    <div class="row">
			        <div class="col-xs-12 col-md-6 col-md-offset-3">
			            <div class="add-trip">
			                <!-- <form action="new-trip.php"> -->
			                <form>
			                    <h4>Dove vorresti andare?</h4><br>
			                    
			                    {# Google Place Autocomplete Form #}
			                    <div id="locationField">
			                    <input id="autocomplete" placeholder="Inserisci una meta" onFocus="geolocate()" type="text"> </input>
			                    </div> 
			                    {# end Google Place Autocomplete Form #}
			                    
			                    <br><br>
			                    <h4>Quando vorresti partire?</h4><br>
			                    <select name="periods">
			                        <option value="Indifferente">Indifferente</option>
			                        <option value="Primavera">Primavera</option>
			                        <option value="Estate">Estate</option>
			                        <option value="Autunno">Autunno</option>
			                        <option value="Inverno">Inverno</option>
			                        <option value="Natale">Natale e Capodanno</option>
			                        <option value="Pasqua">Pasqua</option>
			                        <option value="Primo Maggio">Primo Maggio</option>
			                        <option value="Ferragosto">Ferragosto</option>
			                    </select>
			                    <br><br>
			                    <input type="submit" id="submit" name="submit" value="Crea viaggio" />
			                </form>
			            </div>
			        </div>
			    </div>
			</div>

			{# accordion for trips and comments #}
			<div class="container-fluid">
			    <div class="row">
			        <div class="col-xs-12 col-md-6 col-md-offset-3">
			        <section id="accordion">
			            <h6>I tuoi viaggi (5/5)</h6>
			            <div>
			                <input type="checkbox" id="check-1" />
			                <label for="check-1">
			                    <div class="col-xs-10 col-md-11">
			                    <h3>Berlino</h3></div>
			                    <div class="col-xs-2 col-md-1">
			                    <a href="{{ url('user/askadvice') }}"><i class="material-icons">chat</i></a></div>
			                    <p>Capodanno</p>
			                </label>
			                <article>
			                    <div class="spacer"></div>
			                    <a>Elimina viaggio</a>
			                    <div class="separator"></div>
			                    <h6>Gianni Bianchi</h6>
			                    <p>Kreuzberg! E poi c'è un teatro che devi assolutamente vedere vicino a Rosa Luxemburg Platz. Adesso ti cerco il nome.</p>
			                </article>
			            </div>
			            <div>
			                <input type="checkbox" id="check-2" />
			                <label for="check-2">
			                    <div class="col-xs-10 col-md-11">
			                    <h3>Londra</h3></div>
			                    <div class="col-xs-2 col-md-1">
			                    <a href="{{ url('user/askadvice') }}"><i class="material-icons">chat</i></a></div>
			                    <p>Primavera</p>
			                </label>
			                <article>
			                    <div class="spacer"></div>
			                    <a href="#">Elimina viaggio</a>
			                    <div class="separator"></div>
			                    <h6>Marco Rossi</h6>
			                    <p>Che invidia! Se ci vai in primavera devi assolutamente andare in un locale sul tamigi che si chiama Spoon River.</p>
			                    <div class="separator"></div>
			                    <h6>Gianni Bianchi</h6>
			                    <p>Vai a Shoreditch, è il quartiere più figo!</p>
			                    <div class="separator"></div>
			                    <h6>Chiara Verdi</h6>
			                    <p>Ah... quanti ricordi! Secondo me dovresti andarci quando c'è il Glastonbury Festival.</p>
			                    <div class="separator"></div>
			                    <a href="#">Carica tutti i commenti</a>
			                </article>
			            </div>
			            <div>
			                <input type="checkbox" id="check-3" />
			                <label for="check-3">
			                    <div class="col-xs-10 col-md-11">
			                    <h3>Roma</h3></div>
			                    <div class="col-xs-2 col-md-1">
			                    <a href="{{ url('user/askadvice') }}"><i class="material-icons">chat</i></a></div>
			                    <p> Maggio</p>
			                </label>
			                <article>
			                    <div class="spacer"></div>
			                    <a>Elimina viaggio</a>
			                    <div class="separator"></div>
			                    <h6>Paola Rossi</h6>
			                    <p>Se è già aperto, a cena/aperitivo prova il sushi al laghetto di Villa Ada. Di solito, sopratutto quando c'è anche la musica dal vivo, c'è un'atmosfera da vacanza tutta la settimana... stupendo!</p>
			                </article>
			            </div>
			            <div>
			                <input type="checkbox" id="check-4" />
			                <label for="check-4">
			                    <div class="col-xs-10 col-md-11">
			                    <h3>Parigi</h3></div>
			                    <div class="col-xs-2 col-md-1">
			                    <a href="{{ url('user/askadvice') }}"><i class="material-icons">chat</i></a></div>
			                    <p>Autunno</p>
			                </label>
			                <article>
			                    <div class="spacer"></div>
			                    <a>Elimina viaggio</a>
			                    <div class="separator"></div>
			                    <h6>Paola Rossi</h6>
			                    <p>Per Parigi la lista è troppo lunga. Mi servono un paio di giorni per mandartela!</p>
			                </article>
			            </div>
			            <div>
			                <input type="checkbox" id="check-5" />
			                <label for="check-5">
			                    <div class="col-xs-10 col-md-11">
			                    <h3>Atene</h3></div>
			                    <div class="col-xs-2 col-md-1">
			                    <a href="{{ url('user/askadvice') }}"><i class="material-icons">chat</i></a></div>
			                    <p>Estate</p>
			                </label>
			                <article>
			                    <div class="spacer"></div>
			                    <a>Elimina viaggio</a>
			                    <div class="separator"></div>
			                    <h6>Giorgia Viola</h6>
			                    <p>Secondo me devi assolutamente provare il pesce fresco e i frutti di mare in uno dei piccoli ristoranti sul porto di Mikrolimano.</p>
			                </article>
			            </div>
			        </section>
			        </div>
			    </div>
			</div>

{% endblock %}