{% extends "layout-base.html.twig" %}


{% block main %} 
		{# profile info #}
		<div class="first container-fluid">
		    <div class="row">
		        <div class="circle-cropping">
		            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
		                <img class="img-circle" src="/trippit_symfony/web/img/{{ user.picture }}" alt="Roberta Verdi">
		            </div>
		        </div>
		        <div class="col-xs-12 col-sm-8 col-md-4">
		            <div class="block">
		                <h2>{{ user.name }} {{ user.surname }}</h2>
		                <div class="separator"></div>
		                <p>{{ user.city }}</p>
		                <div class="separator"></div>
		                <h6>MOTTO</h6>
		                <p>{{ user.slogan }}</p>
		            </div>
		        </div>
		    </div>
		</div>

		{# form #}
		<div class="form-ask row container-fluid">
		        <div class="col-xs-12 col-md-6 col-md-offset-3">
		            <div class="block">
			            <form>
			                <h3>Impostazioni</h3>
			                <h5>Aggiungi un indirizzo email</h5>
			                <input type="text" placeholder="{{ user.firstmail }}" type="text"></input>
			                <br>
			                <h5>Aggiungi numero di telefono</h5>
			                <input type="text" placeholder="{{ user.mobile }}" type="text"></input>
			                <br>
			                <h5>Il tuo motto</h5>
			                <textarea placeholder="{{ user.slogan }}"></textarea>
			                <input type="submit" id="submit" name="submit" value="Salva" />
			                <a href="{{ path('user/profile', { 'urlid': id }) }}"><button type="button" class="btn btn-link">Annulla</button></a>
			            </form>
		            </div>
		            <div class="spacer"></div>
		        </div>
		    </div>
		</div>
{% endblock %}